.site-header,
.site-main,
.site-footer {
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 1024px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

// article {
//     width: 100%;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin: 0 auto;
// }

.single-post {

  article {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;

    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

    @media (min-width: 576px) {
      max-width: 540px;
    }
    
    @media (min-width: 768px) {
      max-width: 720px;
    }

    @media (min-width: 992px) {
      max-width: 960px;

      padding-top: 1.5rem;
      padding-bottom: 6.5rem;
    }

    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  }

  .entry-header,
  .entry-content {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
      max-width: 100%;
    }

    @media (min-width: 992px) {
      max-width: 66.66667%;
    }
  }

  .entry-header {
    margin-bottom: 2rem;
  }

  .entry-content {
    margin-bottom: 2rem;
    p:first-child {
      font-size: 1.25rem;
      color: #18113c;
    }
  }

  &__feature-image {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    margin-bottom: 2.5rem;

    @media (min-width: 768px) {
      max-width: 100%;
    }

    @media (min-width: 992px) {
      max-width: 83.33333%;
    }
  }
  
}


@media (min-width: 576px) {
  // article {
  //   max-width: 540px;
  // }
}


@media (min-width: 768px) {
  // article {
  //   max-width: 720px;
  // }
}
